PIHOLE_INTERFACE=eth0
IPV4_ADDRESS={{pihole_cidr}}
IPV6_ADDRESS=
QUERY_LOGGING=true
INSTALL_WEB_SERVER=true
INSTALL_WEB_INTERFACE=true
LIGHTTPD_ENABLED=true
CACHE_SIZE=10000
WEBPASSWORD={{pihole_webpassword}}
BLOCKING_ENABLED=true
ADMIN_EMAIL=
WEBUIBOXEDLAYOUT=boxed
WEBTHEME=default-dark
DNSMASQ_LISTENING=local
PIHOLE_DNS_1=8.8.8.8
PIHOLE_DNS_2=8.8.4.4
PIHOLE_DNS_3=1.1.1.1
PIHOLE_DNS_4=1.0.0.1
DNS_FQDN_REQUIRED=true
DNS_BOGUS_PRIV=true
DNSSEC=true
REV_SERVER=true
REV_SERVER_CIDR={{net_cidr}}
REV_SERVER_TARGET={{net_router}}
REV_SERVER_DOMAIN={{net_domain}}
