:foreman:
# Credentials. You'll be asked for the interactively if you leave them blank here
  :username: 'admin'
  :password: '{{ admin_password }}'

# Check API documentation cache status on each request
:refresh_cache: false

# API request timeout in seconds, set -1 for infinity
:request_timeout: 120
