[Unit]
Description = VDO unit file to mount {{ vdo_devname }} file system
name = {{ vdo_devname }}.mount
Requires = vdo.service
After = multi-user.target
Conflicts = umount.target

[Mount]
What = /dev/mapper/{{ vdo_devname }}
Where = /{{ mount_point }}
Type = {{ fstype }}

[Install]
WantedBy = multi-user.target
