[Unit]
Description = VDO unit file to mount {{ mount_point }} file system
Requires = vdo.service
After = multi-user.target
Conflicts = umount.target

[Mount]
What = /dev/mapper/{{ vdo_devname }}
Where = {{ mount_point }}
Type = {{ fstype }}

[Install]
WantedBy = multi-user.target
